        <div class="panel panel-default">
          <div class="panel-heading">
            {{ origin.current_ot }}'s Pokémon
          </div>
          <div class="panel-body">
             <div class="row">
               <div class="col-md-4"><span class="title">Species</span><span class="value">{{ species }}</span></div>
               <div class="col-md-2"><span class="title">ID</span><span class="value">{{ ot.id }}</span></div>
               <div class="col-md-2"><span class="title">SID</span><span class="value">{{ ot.secret_id }}</span></div>
               <div class="col-md-4"><span class="title">Trainer Shiny Value</span><span class="value">{{ ot.shiny_value }}</span></div>
             </div>
             <div class="row">
               <div class="col-md-4"><span class="title">Nickname</span><span class="value">{{ name }}</span></div>
               <div class="col-md-4"><span class="title">OT Name</span><span class="value">{{ ot.name }}</span></div>
               <div class="col-md-4"><span class="title">Pokémon Shiny Value</span><span class="value">{{ shiny_value }}</span></div>
             </div>
             <div class="row">
               <div class="col-md-4"><span class="title">Nature</span><span class="value">{{ nature_name }}</span></div>
               <div class="col-md-2"><span class="title">Gender</span><span class="value">{{ gender_name }}</span></div>
               <div class="col-md-2"><span class="title">Level</span><span class="value">{{ level }}</span></div>
               <div class="col-md-4"><span class="title">PID</span><span class="value">{{ personality_value }}</span></div>
             </div>
             <div class="row">
               <div class="col-md-4"><span class="title">Ability</span><span class="value">{{ ability_name }}</span></div>
               <div class="col-md-4"><span class="title">Held Item</span><span class="value">{{ item_name }}</span></div>
               <div class="col-md-4"><span class="title">is Egg?</span><span class="value">{{ is_egg }}</span></div>
             </div>
             <div class="row">
               <div class="col-md-4 ivs evs">
                 <div class="row">
                   <div class="col-md-4"></div>
                   <div class="col-md-4"><span class="title">IVs</span></div>
                   <div class="col-md-4"><span class="title">EVs</span></div>
                   <div class="col-md-4"><span class="title">HP</span></div>
                   <div class="col-md-4"><span class="value">{{ Hp ivs }}</span></div>
                   <div class="col-md-4"><span class="value">{{ Hp evs }}</span></div>
                   <div class="col-md-4"><span class="title">Atk</span></div>
                   <div class="col-md-4"><span class="value">{{ Atk ivs }}</span></div>
                   <div class="col-md-4"><span class="value">{{ Atk evs }}</span></div>
                   <div class="col-md-4"><span class="title">Def</span></div>
                   <div class="col-md-4"><span class="value">{{ Def ivs }}</span></div>
                   <div class="col-md-4"><span class="value">{{ Def evs }}</span></div>
                   <div class="col-md-4"><span class="title">SpA</span></div>
                   <div class="col-md-4"><span class="value">{{ SpA ivs }}</span></div>
                   <div class="col-md-4"><span class="value">{{ SpA evs }}</span></div>
                   <div class="col-md-4"><span class="title">SpD</span></div>
                   <div class="col-md-4"><span class="value">{{ SpD ivs }}</span></div>
                   <div class="col-md-4"><span class="value">{{ SpD evs }}</span></div>
                   <div class="col-md-4"><span class="title">Spe</span></div>
                   <div class="col-md-4"><span class="value">{{ Spe ivs }}</span></div>
                   <div class="col-md-4"><span class="value">{{ Spe evs }}</span></div>
                 </div>
               </div>
               <div class="col-md-4 moves">
                 <ul>
                   {{#eachNatural moves.names}}
 	           <li><span class="title">Move {{ @index }}</span><span class="value">{{ this }}</span></li>
                   {{/eachNatural}}
                 </ul>
               </div>
               <div class="col-md-4 moves">
                 <ul>
                   {{#eachNatural moves.egg_names}}
 	           <li><span class="title">Egg Move {{ @index }}</span><span class="value">{{ this }}</span></li>
                   {{/eachNatural}}
                 </ul>
               </div>
             </div>
          </div>
        </div>


